* {
  outline: 0px !important;
  -webkit-appearance: none; }

.col, [class*="col-"] {
  background-color: transparent;
  border: none;
  padding: 0; }

/* FONTS */
@font-face {
  font-family: PathwaysRough;
  src: url(../../fonts/PathwaysRough-Regular.otf); }
@font-face {
  font-family: LeagueGothic;
  src: url(../../fonts/LeagueGothic-Regular.otf); }
@font-face {
  font-family: LeagueGothicItalic;
  src: url(../../fonts/LeagueGothic-Italic.otf);
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Peleguer;
  src: url(../../fonts/Peleguer-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: PeleguerBold;
  src: url(../../fonts/Peleguer-Bold.ttf) format("truetype");
  font-weight: Bold;
  font-style: normal; }
@font-face {
  font-family: PeleguerItalic;
  src: url(../../fonts/Peleguer-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }
/*FONT VARIABLES*/
/*COLOR VARIABLES*/
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px); }
  100% {
    transform: translateX(0); } }
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px); }
  100% {
    transform: translateX(0); } }
@keyframes slideIn {
  0% {
    transform: translateX(-900px); }
  100% {
    transform: translateX(0); } }
@-moz-keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }
@-webkit-keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
@keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
.navbar {
  background-color: #FFF;
  border-radius: 0;
  height: 10rem; }

.navbar-right {
  font-family: LeagueGothic, sans-serif;
  padding-right: 8vw;
  padding-top: 3rem; }

#navbarlogo {
  padding-left: 8vw;
  margin-top: 1.2vw; }

.nav-item {
  color: #1E401D;
  font-size: 2vw;
  letter-spacing: 0.4rem;
  margin-left: 3rem; }

.nav-item:hover {
  text-decoration: none;
  color: #F99E1C;
  font-size: 4rem; }

.loginBox {
  position: absolute;
  background-color: #E44125;
  width: 70%;
  padding: 2em 7em 2em 6em;
  opacity: 0.93;
  right: 0;
  margin-top: 1vw; }

.login-logo {
  height: 5vw; }

.loginSubTitle {
  font-family: PeleguerItalic, serif;
  font-size: 2vw;
  color: white;
  letter-spacing: 0.5rem; }

.loginTitle {
  font-family: LeagueGothic, sans-serif;
  font-size: 4vw;
  letter-spacing: 0.5rem;
  color: white;
  margin-top: 3rem; }

.form-text {
  font-family: Peleguer, serif;
  color: white;
  font-size: 1.3vw;
  letter-spacing: 0.75rem;
  margin-top: 2%; }

.form-control {
  border-radius: 0%; }

.login-button {
  font-family: LeagueGothic, sans-serif;
  font-size: 1.5vw;
  letter-spacing: 0.22rem;
  background-color: #F99E1C;
  border: none;
  border-radius: 0%;
  padding: 0.5rem 3.5rem 0.5rem 3.5rem;
  margin-top: 1%;
  margin-bottom: 3%; }

.login-button:hover {
  background-color: #1E401D; }

.loginText {
  font-family: PeleguerItalic, serif;
  font-size: 1.5vw;
  letter-spacing: 0.4rem;
  color: #f4f0ed; }

.signupLink {
  color: #f4f0ed; }

.signupLink:hover {
  font-size: 2.5rem;
  color: #F99E1C; }

.readmore-block {
  position: absolute;
  white-space: nowrap;
  top: 35vw;
  left: 8vw; }

.readmore-description {
  position: absolute;
  width: 45rem;
  font-family: LeagueGothic, sans-serif;
  letter-spacing: 0.5rem;
  font-size: 2vw;
  color: #f4f0ed;
  padding: 2rem 2rem 10% 2rem;
  bottom: 8vw;
  left: -18rem;
  transform: rotate(270deg); }

#readmore-organize {
  font-family: PeleguerItalic, serif;
  margin-top: -1rem; }

.readmore-subBlock {
  margin-left: 6rem;
  -webkit-animation: slideIn 2s forwards, bounce 6s 2s infinite;
  -moz-animation: slideIn 2s forwards, bounce 6s 2s infinite;
  animation: slideIn 2s forwards, bounce 6s 2s infinite; }

.readmore-text {
  font-family: Peleguer, serif;
  font-size: 3rem;
  color: white;
  transform: rotate(270deg); }

.arrow {
  height: 4rem;
  margin-top: 7rem;
  margin-left: 3.2vmax; }

.aboutHeader {
  font-family: LeagueGothic, sans-serif;
  font-size: 6vw;
  letter-spacing: 1.5rem;
  color: #f4f0ed;
  margin-left: 12.5%;
  margin-top: 48vw;
  margin-bottom: 2%; }

.card-deck {
  width: 75%;
  margin-left: 12.5%;
  background-color: white;
  padding: 7rem 4rem 5rem 4rem; }

.big-card {
  background: none;
  border: none; }

.card-title {
  font-family: LeagueGothic, sans-serif;
  color: #1E401D;
  font-size: 4vw;
  text-align: center;
  margin-top: 3rem; }

.card-text {
  font-family: Peleguer, serif;
  font-size: 1.5vw;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding-right: 2rem;
  padding-left: 2rem; }

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.howItWorksContainer {
  background: #F99E1C url("../../images/HIW_background.png");
  margin-top: 4%;
  padding: 13rem 15% 13rem 15%; }

.howItWorksTitle {
  font-family: LeagueGothic, sans-serif;
  color: #1E401D;
  font-size: 6vw;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 4%; }

.howItWorksText {
  font-family: PeleguerBold, serif;
  color: #1E401D;
  font-size: 2vw; }

footer {
  background-color: white;
  width: 100%;
  height: 6rem; }

.footertext {
  font-family: LeagueGothic, sans-serif;
  color: #1E401D;
  font-size: 2vw;
  letter-spacing: 0.4rem;
  letter-spacing: 0.3rem;
  padding-right: 6rem;
  margin-left: 6rem; }

.footerlink:hover {
  background-color: transparent !important;
  text-decoration: none;
  font-size: 1.75vw;
  color: #F99E1C; }

#footerleft {
  margin-top: 2.75rem; }

#footercopyright {
  margin-right: 6rem; }

#footercopyright:hover {
  color: #0E0A08; }

#footerleft {
  margin-left: 6rem; }

ul {
  list-style-type: none; }

li {
  display: inline-block; }

.homebody {
  background: url(../../images/home_image.jpg) top right no-repeat;
  background-attachment: fixed;
  background-size: 100%; }

#signup-info {
  background-color: #90bb5e;
  padding: 9vw 3rem 8vw 6rem; }

.signup-header {
  font-family: LeagueGothic, sans-serif;
  font-size: 3.5vw;
  letter-spacing: 0.4rem;
  color: white;
  margin-top: 6rem; }

.signup-text {
  font-family: PeleguerItalic, serif;
  font-size: 2.5vw;
  letter-spacing: 0.6rem;
  color: white; }

.signup-title {
  font-family: LeagueGothic, sans-serif;
  font-size: 8rem;
  letter-spacing: 0.4rem;
  color: #1E401D;
  margin-bottom: 3rem; }

.signup-form {
  padding: 6.5vw 6rem 4rem 6rem;
  background: none;
  border: none; }

.signup-label {
  font-family: Peleguer, serif;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  color: #1E401D;
  margin-top: 1.5rem; }

.signup-button {
  font-family: LeagueGothic, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  background-color: #F99E1C;
  border: none;
  border-radius: 0%;
  padding: 1rem 3.5rem 1rem 3.5rem;
  margin-top: 3%;
  margin-bottom: 3%; }

.signup-button:hover {
  background-color: #E44125; }

.form-control {
  font-family: Peleguer, serif;
  font-size: 3rem;
  background-color: #e1dedc;
  border: none; }

.signup-footer {
  text-align: right; }

.logged-logo-white {
  height: 60px;
  padding-left: 8vw;
  margin-top: 1.2vw; }

.logged-navbar {
  background-color: #E44125;
  border-radius: 0;
  height: 10rem; }

.logged-nav-item {
  color: white;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  margin-bottom: 3rem;
  margin-left: 3rem; }

.logged-nav-item:hover {
  text-decoration: none;
  color: #1E401D;
  font-size: 4rem; }

.greeting-text {
  font-family: LeagueGothic, sans-serif;
  font-size: 4rem;
  color: #121210;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-top: 4vw;
  margin-bottom: 3vw;
  text-transform: uppercase; }

.userpage-container {
  width: 60%; }

.search-title {
  font-family: LeagueGothic, sans-serif;
  color: #121210;
  font-size: 2.75rem;
  letter-spacing: 0.2rem;
  margin-left: -1rem; }

.input-width {
  font-family: Peleguer, serif;
  font-size: 1.2vw;
  width: 93%;
  height: 2.3vw;
  border: none;
  background-color: #e1dedc;
  float: left;
  padding: 1rem 2rem 0.5rem 2rem; }

.search-btn {
  position: relative;
  background-color: #90bb5e;
  height: 2.3vw;
  width: 7%;
  border: none;
  padding: 0.3vw 2rem 0.1vw 2rem; }

.search-btn:hover {
  background-color: #1E401D; }

.imageClass {
  height: 1vw;
  margin-left: 0.25vw;
  padding: 0; }

.tag-search-button {
  height: 0.3vw; }

.clear-search {
  color: #E44125; }

.clear-search:hover {
  color: #F99E1C;
  text-decoration: none; }

.showing-search-results {
  font-family: PeleguerItalic, serif;
  font-size: 3rem;
  margin-top: 2%;
  margin-bottom: -3%; }

.orange-box {
  background-color: #F99E1C;
  padding: 0.25rem 0rem 0.25rem 0rem;
  margin-top: 4%; }

.orangeHdrTitle {
  font-family: LeagueGothic, sans-serif;
  font-size: 5rem;
  color: white;
  letter-spacing: 0.3rem; }

.header-image-class {
  height: 6rem;
  float: left;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  margin-left: 18vw;
  margin-right: 5rem; }

.col-md-4 {
  background-color: transparent;
  border: none; }

.no-results {
  font-family: LeagueGothic, sans-serif;
  color: #121210;
  font-size: 3.5rem;
  letter-spacing: 0.1rem; }

.table-header {
  font-family: LeagueGothic, sans-serif;
  color: #121210;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  padding-top: 2rem; }

.all-items-row {
  margin-top: -2%; }

.recipe-name {
  text-decoration: underline; }

.table-item {
  font-family: Peleguer, serif;
  font-size: 2.75rem;
  color: #121210;
  line-height: 2.75rem;
  overflow: hidden;
  padding-top: 2rem; }

.recipe-buttons {
  padding-top: 1rem; }

.up-edit-button {
  font-family: Peleguer, serif;
  color: black;
  font-size: 2rem;
  padding: 0.5rem 2rem 0 2rem;
  border: 0.25px solid #e1dedc;
  background-color: transparent;
  border-radius: 0; }

.up-edit-button:hover {
  border-radius: 0;
  background-color: #1E401D;
  border: none; }

.up-delete-button {
  font-family: Peleguer, serif;
  color: black;
  margin-left: 2rem;
  font-size: 2rem;
  padding: 0.5rem 2rem 0rem 2rem;
  border: 0.25px solid #e1dedc;
  background-color: transparent;
  border-radius: 0; }

.up-delete-button:hover {
  background-color: #E44125;
  border-radius: 0; }

.up-toggle-button {
  font-family: Peleguer, serif;
  color: black;
  margin-left: 2rem;
  font-size: 2rem;
  padding: 0.8rem 2rem 0.5rem 2rem;
  background-color: transparent;
  border: 0.25px solid #e1dedc;
  border-radius: 0; }

.up-toggle-button:hover {
  background-color: #1E401D;
  border: none; }

.manual-add-btn {
  font-family: LeagueGothic, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  color: white;
  background-color: #90bb5e;
  border-radius: 0;
  margin-top: 3%;
  padding-left: 3rem;
  padding-right: 3rem; }

.manual-add-btn:hover {
  background-color: #1E401D; }

* {
  outline: 0px !important;
  -webkit-appearance: none; }

.recipe-header {
  font-family: LeagueGothic, sans-serif;
  background-color: #e1dedc;
  margin-top: 3%;
  padding: 3rem 2rem 7rem 9vw; }

.recipe-title {
  font-family: LeagueGothic, sans-serif;
  color: #E44125;
  font-size: 6rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase; }

.recipe-servingsize {
  font-family: PeleguerItalic, serif;
  font-size: 3rem; }

.recipe-subtitle {
  font-family: LeagueGothic, sans-serif;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  color: #F99E1C;
  margin-left: 9vw;
  margin-top: 3%;
  margin-bottom: 2%; }

.ingredientChecklist {
  width: 80%;
  margin-left: 7%;
  border: none;
  color: black;
  font-family: Peleguer, serif;
  font-size: 2.9rem;
  background-color: transparent;
  border: none;
  padding: 0; }

.glyphicon {
  font-size: 2.5rem; }

.instructionChecklist {
  font-family: Peleguer, serif;
  font-size: 2.9rem;
  background-color: transparent;
  border: none;
  width: 80%;
  margin-left: 8%;
  margin-top: -0.5%; }

.tags {
  font-family: Peleguer, serif;
  font-size: 3.4rem;
  color: gray;
  margin: 2% 8% 1% 9%;
  width: 100%; }

.recipe-link-box {
  margin: 1.2% 8% 1% 9%;
  width: 100%; }

.recipe-link {
  font-family: Peleguer, serif;
  font-size: 2.5rem;
  color: black;
  text-decoration: none; }

.recipe-notes-panel {
  border: 4px solid #F99E1C;
  border-radius: 0;
  width: 40%;
  margin-left: 9vw;
  margin-top: 2%; }

.panel-heading {
  background-color: #F99E1C;
  border: 2px solid #F99E1C;
  border-radius: 0; }

.panel-header {
  color: white;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin-top: 0; }

.recipe-notes {
  font-family: PeleguerItalic, serif;
  font-size: 2.5rem;
  padding-left: 1rem; }

.note-input {
  font-family: Peleguer, serif;
  font-size: 2.75rem;
  width: 100%;
  border: none; }

.panel-header {
  font-family: LeagueGothic, sans-serif; }

.recipepage-btns {
  margin-left: 8vw; }

.recipepage-btn {
  font-family: LeagueGothic, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #f4f0ed;
  background-color: #E44125;
  border-radius: 0;
  padding: 0.5rem 4rem 0.5rem 4rem;
  margin-top: 2rem;
  margin-right: 7rem;
  margin-bottom: 4rem; }

.recipepage-btn:hover {
  background-color: #1E401D; }

.editrecipe-container {
  width: 80%;
  margin-left: 10%;
  margin-top: 4%; }

.recipe-page-col {
  background-color: transparent;
  border: none; }

.ERTitle {
  font-family: LeagueGothic, sans-serif;
  color: black;
  font-size: 3rem;
  letter-spacing: 0.2rem; }

.ERAdd {
  font-family: LeagueGothic, sans-serif;
  color: gray;
  font-size: 2rem;
  letter-spacing: 0.35rem;
  margin-top: 4rem; }

.ER-row {
  margin-top: 1.2%; }

.ERSubmit {
  font-family: LeagueGothic, sans-serif;
  font-size: 2.25rem;
  letter-spacing: 0.31rem;
  color: #f4f0ed;
  background-color: #F99E1C;
  border: none;
  border-radius: 0;
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  margin-top: 0.2rem;
  margin-left: 3rem; }

.ERSubmit:hover {
  background-color: #E44125; }

.ERSave {
  padding-right: 2rem;
  padding-left: 2rem; }

.ERSave:hover {
  background-color: #1E401D; }

.ERInput {
  font-family: Peleguer, serif;
  font-size: 2.3rem;
  width: 100%;
  height: 4.2rem;
  box-shadow: none;
  border: 0.5px solid #e1dedc;
  padding-left: 2.4rem; }

.drop-down {
  font-size: 0.75vw;
  text-align: center;
  width: 100%;
  padding: 0.75vw 2rem 0.75vw 2rem;
  border: 0.5px solid #e1dedc;
  border-radius: 0;
  background-color: transparent; }

.ingredient-btn {
  font-family: LeagueGothic, sans-serif;
  font-size: 1vw;
  letter-spacing: 0.2rem;
  color: #f4f0ed;
  background-color: #E44125;
  border-radius: 0;
  margin-top: 3%;
  padding-left: 3rem;
  padding-right: 3rem; }

.ingredient-btn:hover {
  background-color: #1E401D; }

.recipeDelete {
  margin-left: 3%; }

.recipeComplete {
  margin-left: 3%; }

.recipe-add-button {
  font-family: LeagueGothic, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: white;
  background-color: #E44125;
  border-radius: 0;
  margin-top: 2%;
  margin-left: -1.1rem;
  padding-left: 3rem;
  padding-right: 3rem; }

.recipe-add-button:hover {
  background-color: #1E401D; }

@media only screen and (max-width: 3590px) and (min-width: 2400px) {
  /* ===============================================HOME PAGE================================================ */
  .navbar {
    background-color: #FFF;
    border-radius: 0;
    height: 15rem; }

  .readmore-description {
    bottom: 4vw; }

  .readmore-block {
    bottom: 4vw; }

  .arrow {
    height: 4rem;
    margin-top: 5vw;
    margin-left: 5.3vw; }

  /* ===============================================RECIPE EDIT PAGE================================================ */
  .ERSubmit {
    font-size: 3.5rem; }

  .ERTitle {
    font-size: 5rem; }

  .ERInput {
    height: 6.2rem;
    font-size: 3.2rem; } }
@media only screen and (max-width: 1690px) {
  /* ===============================================HOME PAGE================================================ */
  .loginBox {
    margin-top: -2.5vw; }

  .arrow {
    margin-left: 3.8vmax; } }
@media only screen and (max-width: 1450px) {
  /* ===============================================USER PAGE================================================ */
  .header-image-class {
    padding-top: 2rem;
    padding-bottom: 0rem;
    margin-left: 13vw; }

  .arrow {
    margin-left: 4.5vmax; } }
@media only screen and (max-width: 1280px) {
  /* ===============================================HOME PAGE================================================ */
  .loginBox {
    padding: 2em 7em 2em 4em;
    margin-top: -3.3vw; }

  .readmore-description {
    bottom: 13vw; }

  .arrow {
    margin-left: 5.1vmin; }

  /* ===============================================USER PAGE================================================ */
  .search-btn {
    height: 2vw;
    padding: 0.1vw 2rem 0.3vw 2rem; }

  .orangeHdrTitle {
    font-size: 3.5rem; }

  .header-image-class {
    margin-left: 20vw; }

  .up-edit-button {
    padding: 0.5rem 1rem 0 1rem; }

  .up-delete-button {
    padding: 0.5rem 1rem 0 1rem; }

  .up-toggle-button {
    padding: 1rem 2rem 0.7rem 2rem; }

  /* ===============================================RECIPE EDIT PAGE================================================ */
  .ERSubmit {
    font-size: 2rem; }

  .ingredient-btn {
    font-size: 1.3vw; } }
@media only screen and (max-width: 1045px) and (min-width: 992px) {
  /* ===============================================HOME PAGE================================================ */
  .readmore-text {
    font-size: 2.5rem; }

  .arrow {
    margin-left: 5.1vmin; }

  /* ===============================================USER PAGE================================================ */
  .search-btn {
    height: 2.5vw; }

  .up-delete-button {
    margin-left: 1rem; }

  .up-toggle-button {
    margin-left: 1rem; }

  /* ===============================================RECIPE EDIT PAGE================================================ */
  .ERSubmit {
    font-size: 1.75rem;
    padding: 0.6rem 0.75rem 0.6rem 0.75rem; }

  .ERInput {
    font-size: 1.9rem; } }
@media only screen and (max-width: 980px) {
  /* ===============================================HOME PAGE================================================ */
  .loginBox {
    padding: 2em 7em 2em 4em;
    margin-top: -4.3vw; }

  .loginSubTitle {
    font-size: 2.5vw; }

  .readmore-block {
    display: none; }

  .aboutHeader {
    margin-left: 30%;
    margin-top: 55vw;
    margin-bottom: 2%; }

  .card-deck {
    width: 40%;
    margin-left: 30%;
    padding: 7rem 4rem 5rem 4rem; }

  .card-text {
    font-size: 2.5vw; }

  /* ===============================================SIGN UP PAGE================================================ */
  .signup-header {
    font-size: 8vw; }

  .signup-text {
    font-size: 4vw; }

  .signup-title {
    font-size: 8vw; }

  .signup-label {
    font-size: 2rem; }

  /* ===============================================USER PAGE================================================ */
  .table-header {
    display: none; }

  .input-width {
    height: 3vw; }

  .search-btn {
    height: 3vw;
    padding: 0.1vw 2rem 0.3vw 1.75rem; }

  .imageClass {
    height: 1.5vw;
    margin-left: 0.01vw; }

  .tag-search-button {
    height: 0.6vw; }

  .orangeHdrTitle {
    font-size: 3rem; }

  .header-image-class {
    margin-left: 17vw; }

  /* ===============================================RECIPE EDIT PAGE================================================ */
  .ERSubmit {
    font-size: 1.6rem;
    padding: 0.6rem 0.75rem 0.6rem 0.75rem; } }
@media only screen and (max-width: 736px) {
  /* ===============================================HOME PAGE================================================ */
  .aboutHeader {
    display: none; }

  .loginBox {
    width: 100%;
    opacity: 0.93;
    margin-top: -4rem; }

  .card-deck {
    margin-top: 60vw; }

  #footerleft {
    display: none; }

  /* ===============================================USER PAGE================================================ */
  .input-width {
    width: 92%; }

  .search-btn {
    padding: -2vw 2rem 0.4vw 1.75rem; }

  .imageClass {
    height: 1.2vw;
    margin-left: -0.5vw; }

  .tag-search-button {
    height: 0.6vw;
    margin-left: -0.5vw; }

  .header-image-class {
    margin-left: 13vw; }

  .manual-add-btn {
    font-family: LeagueGothic, sans-serif;
    font-size: 1.5rem; }

  /* ===============================================RECIPE EDIT================================================ */
  .ERTitle {
    font-size: 2rem;
    margin-left: -1.5rem; }

  .ERSubmit {
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: 1rem;
    margin-left: 0rem; }

  .drop-down {
    font-size: 1rem; }

  .ingredient-btn {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    margin-top: 1%;
    padding-left: 1rem;
    padding-right: 1rem; }

  .ingredient-btns {
    margin-left: -1.4rem; }

  /* ===============================================RECIPE EDIT PAGE================================================ */
  .ERInput {
    font-size: 1.5rem; }

  .ERSubmit {
    font-size: 1.5rem;
    padding: 0.6rem 0.75rem 0.6rem 0.75rem; }

  .ingredient-btn {
    font-size: 1.5rem; } }
@media only screen and (max-width: 480px) {
  /* ===============================================HOME PAGE================================================ */
  .homebody {
    background: none; }

  .login-logo {
    display: none; }

  .loginBox {
    padding: 2em 4em 2em 4em; }

  .loginSubTitle {
    font-size: 2.5rem; }

  .loginTitle {
    font-size: 4rem; }

  .loginText {
    font-size: 3vw; }

  .form-text {
    font-size: 4vw; }

  .login-button {
    font-size: 4vw; }

  .card-deck {
    width: 60%;
    margin-top: 90vw;
    margin-left: 20%;
    padding: 7rem 4rem 5rem 4rem; }

  .card-title {
    font-size: 8vw; }

  .card-text {
    font-size: 4.5vw; }

  .howItWorksContainer {
    margin-top: 0%;
    padding: 8rem 15% 8rem 15%; }

  .howItWorksTitle {
    font-size: 10vw;
    text-align: center;
    margin-bottom: 5rem; }

  .howItWorksText {
    font-size: 5vw; }

  .footertext {
    font-size: 3.5vw; }

  /* ===============================================SIGN UP PAGE================================================ */
  .signup-text {
    font-size: 6vw; }

  /* ===============================================USER PAGE================================================ */
  .input-width {
    width: 85%;
    height: 6vw; }

  .search-btn {
    padding: -2vw 2rem 0.4vw 1.75rem;
    height: 6vw; }

  .imageClass {
    height: 2.5vw;
    margin-left: -0.5vw; }

  .tag-search-button {
    height: 1vw;
    margin-left: -0.5vw; }

  .header-image-class {
    margin-left: 10vw;
    margin-right: 2rem; }

  .manual-add-btn {
    font-family: LeagueGothic, sans-serif;
    font-size: 1.5rem; }

  /* ===============================================RECIPE PAGE================================================ */
  .recipe-image {
    display: none; }

  .recipe-link {
    display: none; }

  .recipe-header {
    padding: 1rem 2rem 2rem 9vw;
    margin-bottom: 10%; }

  .recipe-title {
    font-size: 3.5rem; }

  .recipe-servingsize {
    font-size: 2rem; }

  .recipe-subtitle {
    font-size: 3rem; }

  .ingredientChecklist {
    width: 100%;
    margin-left: 0%; }

  .ingredientItem {
    font-size: 2rem; }

  .instructionChecklist {
    font-size: 2rem;
    margin-left: 3%; }

  .recipe-notes-panel {
    display: none; }

  .recipepage-btns {
    margin-left: 4vw; }

  .recipepage-btn {
    letter-spacing: 0.2rem;
    margin-top: 1.5rem;
    margin-right: 1rem; }

  /* ===============================================RECIPE EDIT================================================ */
  .ERInput {
    height: 2rem;
    font-size: 1.5rem; }

  /* ===============================================RECIPE EDIT PAGE================================================ */
  .recipe-add-button {
    font-size: 1.5rem;
    margin-left: -1.4rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem; }

  /* ===============================================RECIPE EDIT PAGE================================================ */
  .ERInput {
    height: 4rem; } }
@media only screen and (max-width: 420px) {
  .up-delete-button {
    margin-left: 1rem;
    font-size: 1.25rem;
    padding: 1rem 1rem 0.6rem 1rem; }

  .up-toggle-button {
    margin-left: 1rem;
    font-size: 1.25rem; }

  .glyphicon-pencil {
    font-size: 1.25rem; }

  .glyphicon-trash {
    font-size: 1.25rem; } }
@media only screen and (max-width: 375px) {
  .login-logo {
    height: 4rem; }

  .loginText {
    font-size: 5vw; }

  .card-deck {
    width: 80%;
    margin-top: 130vw;
    margin-left: 10%;
    padding: 7rem 2rem 5rem 2rem; }

  .card-text {
    font-size: 7vw; }

  .howItWorksText {
    font-size: 2rem; }

  .navbar-brand {
    padding-left: 3rem; }

  #navbarlogo {
    height: 5rem; }

  .footertext {
    font-size: 5vw; }

  /* ===============================================SIGN UP PAGE================================================ */
  .signup-text {
    display: none; }

  /* ===============================================USER PAGE================================================ */
  .greeting-text {
    font-size: 2rem; }

  .input-width {
    width: 83%;
    height: 8vw; }

  .search-btn {
    padding: -2vw 2rem 0.4vw 1.75rem;
    height: 8vw; }

  .imageClass {
    height: 2vw;
    margin-left: -0.5vw; }

  .orangeHdrTitle {
    font-size: 2rem; }

  .tag-search-button {
    height: 1vw;
    margin-left: -0.5vw; }

  /* ===============================================RECIPE EDIT PAGE================================================ */
  .ERInput {
    height: 3.5rem; } }

/*# sourceMappingURL=main.css.map */
