/* FONTS */
@font-face {
  font-family: PathwaysRough;
  src: url(../../fonts/PathwaysRough-Regular.otf); }
@font-face {
  font-family: LeagueGothic;
  src: url(../../fonts/LeagueGothic-Regular.otf); }
@font-face {
  font-family: LeagueGothicItalic;
  src: url(../../fonts/LeagueGothic-Italic.otf);
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Peleguer;
  src: url(../../fonts/Peleguer-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: PeleguerBold;
  src: url(../../fonts/Peleguer-Bold.ttf) format("truetype");
  font-weight: Bold;
  font-style: normal; }
@font-face {
  font-family: PeleguerItalic;
  src: url(../../fonts/Peleguer-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }
/*FONT VARIABLES*/
/*COLOR VARIABLES*/
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px); }
  100% {
    transform: translateX(0); } }
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px); }
  100% {
    transform: translateX(0); } }
@keyframes slideIn {
  0% {
    transform: translateX(-900px); }
  100% {
    transform: translateX(0); } }
@-moz-keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }
@-webkit-keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
@keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
.navbar {
  background-color: #FFF;
  border-radius: 0;
  height: 10rem; }

.navbar-right {
  font-family: LeagueGothic, sans-serif;
  padding-right: 6rem;
  padding-top: 3rem; }

.navbar-brand {
  font-family: PathwaysRough, sans-serif;
  font-size: 5rem;
  color: #F99E1C;
  padding-left: 10rem; }

.navbar-brand:hover {
  color: #90bb5e; }

.nav-item {
  color: #1E401D;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  margin-left: 3rem; }

.nav-item:hover {
  text-decoration: none;
  color: #F99E1C;
  font-size: 4rem; }

.loginBox {
  position: absolute;
  background-color: #E44125;
  width: 70%;
  padding: 3em 7em 3em 6em;
  opacity: 0.90;
  right: 0;
  margin-top: 4rem; }

.loginSubTitle {
  font-family: PeleguerItalic, serif;
  font-size: 4rem;
  color: white;
  letter-spacing: 0.5rem; }

.loginTitle {
  font-family: LeagueGothic, sans-serif;
  font-size: 7rem;
  letter-spacing: 0.5rem;
  color: white;
  margin-top: 3rem; }

.form-text {
  font-family: Peleguer, serif;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.75rem;
  margin-top: 2%; }

.form-control {
  border-radius: 0%; }

.login-button {
  font-family: LeagueGothic, sans-serif;
  letter-spacing: 0.22rem;
  background-color: #F99E1C;
  border: none;
  border-radius: 0%;
  padding: 0.5rem 3.5rem 0.5rem 3.5rem;
  margin-top: 1%;
  margin-bottom: 3%; }

.login-button:hover {
  background-color: #1E401D; }

.loginText {
  font-family: PeleguerItalic, serif;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  color: white; }

.signupLink {
  color: white; }

.signupLink:hover {
  font-size: 2.5rem;
  color: #F99E1C; }

.readmore-block {
  position: absolute;
  bottom: 5rem;
  left: 3rem;
  -webkit-animation: slideIn 2s forwards, bounce 4s 2s infinite;
  -moz-animation: slideIn 2s forwards, bounce 4s 2s infinite;
  animation: slideIn 2s forwards, bounce 4s 2s infinite; }

.readmore-text {
  font-family: Peleguer, serif;
  font-size: 4rem;
  color: white;
  border: 2px solid white;
  transform: rotate(270deg);
  padding: 2rem 4rem 1.5rem 4rem; }

.arrow {
  height: 10rem;
  margin-top: 13rem;
  margin-left: 11.5rem; }

.aboutHeader {
  font-family: LeagueGothic, sans-serif;
  font-size: 10rem;
  letter-spacing: 1.5rem;
  color: white;
  margin-left: 16%;
  margin-top: 80rem;
  margin-bottom: 1%; }

.card-deck {
  width: 70%;
  margin-left: 15%; }

.big-card {
  background: none;
  border: none; }

.card {
  background-color: white;
  padding: 6rem 4rem 3rem 4rem;
  border: none; }

.card-title {
  font-family: LeagueGothic, sans-serif;
  color: #1E401D;
  font-size: 6rem;
  text-align: center;
  margin-top: 3rem; }

.card-text {
  font-family: Peleguer, serif;
  font-size: 2.75rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem; }

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.howItWorksContainer {
  background: #F99E1C url("../../images/HIW_background.png");
  margin-top: 4%;
  padding: 13rem 15% 13rem 15%; }

.howItWorksTitle {
  font-family: LeagueGothic, sans-serif;
  color: #1E401D;
  font-size: 10rem;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 2%; }

.howItWorksText {
  font-family: PeleguerBold, serif;
  color: #1E401D;
  font-size: 4rem; }

footer {
  background-color: white;
  width: 100%;
  height: 6rem; }

.footertext {
  font-family: LeagueGothic, sans-serif;
  color: #1E401D;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  letter-spacing: 0.3rem;
  padding-right: 6rem;
  padding-top: 1rem;
  margin-left: 6rem; }

.footerlink:hover {
  background-color: transparent !important;
  font-size: 2.5rem;
  color: #F99E1C; }

#footercopyright {
  margin-right: 6rem; }

#footercopyright:hover {
  color: #0E0A08; }

#footerleft {
  margin-left: 6rem; }

.homebody {
  background: url(../../images/home_image.jpg) top right no-repeat;
  background-attachment: fixed;
  background-size: 100%; }

/*# sourceMappingURL=main.css.map */
