/* FONTS */
@font-face {
  font-family: PathwaysRough;
  src: url(../../fonts/PathwaysRough-Regular.otf); }
@font-face {
  font-family: LeagueGothic;
  src: url(../../fonts/LeagueGothic-Regular.otf); }
@font-face {
  font-family: LeagueGothicItalic;
  src: url(../../fonts/LeagueGothic-Italic.otf);
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Peleguer;
  src: url(../../fonts/Peleguer-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: PeleguerBold;
  src: url(../../fonts/Peleguer-Bold.ttf) format("truetype");
  font-weight: Bold;
  font-style: normal; }
@font-face {
  font-family: PeleguerItalic;
  src: url(../../fonts/Peleguer-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }
/*FONT VARIABLES*/
/*COLOR VARIABLES*/
.navbar {
  background-color: #FFF;
  border-radius: 0;
  height: 10rem; }

.navbar-right {
  font-family: LeagueGothic, sans-serif;
  font-size: 2.5rem;
  padding-right: 6rem;
  padding-top: 4rem; }

.navbar-brand {
  font-family: PathwaysRough, sans-serif;
  font-size: 5rem;
  color: #F99E1C;
  padding-left: 10rem; }

.navbar-brand:hover {
  color: #90bb5e; }

.nav-item {
  color: #1E401D;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  margin-left: 3rem; }

.nav-item:hover {
  text-decoration: none;
  color: #F99E1C;
  font-size: 3rem; }

.loginBox {
  position: absolute;
  background-color: #E44125;
  width: 60%;
  padding: 2em 4em 2em 4em;
  opacity: 0.90;
  right: 0; }

.loginSubTitle {
  font-family: PeleguerItalic, serif;
  font-size: 3rem;
  color: white;
  letter-spacing: 0.5rem; }

.loginTitle {
  font-family: LeagueGothic, sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  color: white;
  margin-top: 3rem; }

.form-text {
  font-family: Peleguer, serif;
  color: white;
  font-size: 2rem;
  letter-spacing: 0.75rem;
  margin-top: 2%; }

.form-control {
  border-radius: 0%; }

.login-button {
  font-family: LeagueGothic, sans-serif;
  letter-spacing: 0.22rem;
  background-color: #F99E1C;
  border: none;
  border-radius: 0%;
  padding: 0.5rem 3.5rem 0.5rem 3.5rem;
  margin-top: 1%;
  margin-bottom: 3%; }

.login-button:hover {
  background-color: #1E401D; }

.loginText {
  font-family: PeleguerItalic, serif;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  color: white; }

.signupLink {
  color: white; }

.signupLink:hover {
  font-size: 2.5rem;
  color: #F99E1C; }

.aboutHeader {
  font-family: LeagueGothic, sans-serif;
  font-size: 6rem;
  letter-spacing: 1.5rem;
  color: white;
  margin-left: 16%;
  margin-top: 45%;
  margin-bottom: 1%; }

.card-deck {
  width: 70%;
  margin-left: 15%; }

.big-card {
  background: none;
  border: none; }

.card {
  background-color: white;
  padding: 6rem 4rem 3rem 4rem;
  border: none; }

.card-title {
  font-family: LeagueGothic, sans-serif;
  color: #1E401D;
  font-size: 6rem;
  text-align: center;
  margin-top: 3rem; }

.card-text {
  font-family: Peleguer, serif;
  font-size: 2.75rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem; }

.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.howItWorksContainer {
  padding: 13rem 10rem 13rem 10rem;
  background: #F99E1C url("../../images/HIW_background.png"); }

.howItWorksTitle {
  font-family: LeagueGothic, sans-serif;
  color: #1E401D;
  font-size: 6rem;
  letter-spacing: 0.3rem;
  text-align: center; }

.howItWorksText {
  font-family: PeleguerBold, serif;
  color: #1E401D;
  font-size: 3rem; }

footer {
  background-color: white;
  width: 100%;
  height: 6rem; }

.footertext {
  font-family: LeagueGothic, sans-serif;
  color: #1E401D;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  letter-spacing: 0.3rem;
  padding-right: 6rem;
  padding-top: 2rem;
  margin-left: 6rem; }

.footertext:hover {
  background-color: transparent !important;
  font-size: 2.5rem;
  color: #F99E1C; }

#footercopyright {
  margin-right: 6rem; }

#footercopyright:hover {
  color: #0E0A08; }

#footerleft {
  margin-left: 6rem; }

.homebody {
  background: url(../../images/home_image.jpg) top right no-repeat;
  background-attachment: fixed;
  background-size: 100%; }

/*# sourceMappingURL=main.css.map */
