* {
    outline:0px !important;
    -webkit-appearance:none;
}

.col, [class*="col-"] {
    background-color: transparent;
    border: none;
    padding: 0;
}

@import './resources/_fontsandcolors';
@import './resources/_animations';
@import './pages/_home';
@import './pages/_signup';
@import './pages/_userpage';
@import './pages/_recipepage';
@import './pages/_recipeeditpage';
@import './pages/_newrecipe';
@import './resources/_mediaqueries'
