@media only screen and (max-width: 1690px) {}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 980px) {
    /* ===============================================HOME PAGE================================================ */
    .readmore-block {
        display: none;
    }
}

@media only screen and (max-width: 736px) {
    /* ===============================================HOME PAGE================================================ */

    .aboutHeader {
        display: none;
    }

    .loginBox {
        width: 100%;
        opacity: 0.93;
        margin-top: -4rem;
    }
    
    .card-deck {
        margin-top: 70rem;
        margin-left: 15%;
    }

    #footerleft {
        display: none;
    }
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 320px) {}