@media only screen and (max-width: 3590px) and (min-width: 2400px) {
    /* ===============================================HOME PAGE================================================ */
    .navbar {
        background-color: #FFF;
        border-radius: 0;
        height: 15rem;
    }

    .readmore-description {
        bottom: 4vw;
    }

    .readmore-block {
        bottom: 4vw;
    }

    .arrow {
        height: 4rem;
        margin-top: 5vw;
        margin-left: 5.3vw;
    }
    /* ===============================================RECIPE EDIT PAGE================================================ */
    .ERSubmit {
        font-size: 3.5rem;
    }

    .ERTitle {
        font-size: 5rem;
    }

    .ERInput {
        height: 6.2rem;
        font-size: 3.2rem;
    }
}

@media only screen and (max-width: 1690px) {
    /* ===============================================HOME PAGE================================================ */
    .loginBox {
        margin-top: -2.5vw;
    }
    
    .arrow {
        margin-left: 3.8vmax;
    }
}

@media only screen and (max-width: 1450px) {
    /* ===============================================USER PAGE================================================ */
    .header-image-class {
        padding-top: 2rem;
        padding-bottom: 0rem;
        margin-left: 13vw;
    }

    .arrow {
        margin-left: 4.5vmax;
    }
}

@media only screen and (max-width: 1280px) {
    /* ===============================================HOME PAGE================================================ */
    .loginBox {
        padding: 2em 7em 2em 4em;
        margin-top: -3.3vw;
    }
    .readmore-description {
        bottom: 13vw;
    }
    .arrow {
        margin-left: 5.1vmin;
    }
    /* ===============================================USER PAGE================================================ */
    .search-btn {
        height: 2vw;
        padding: 0.1vw 2rem 0.3vw 2rem;
    }
    .orangeHdrTitle {
        font-size: 3.5rem;
    }
    .header-image-class {
        margin-left: 20vw;
    }
    .up-edit-button {
        padding: 0.5rem 1rem 0 1rem;
    }
    .up-delete-button {
        padding: 0.5rem 1rem 0 1rem;
    }
    .up-toggle-button {
        padding: 1rem 2rem 0.7rem 2rem;
    }
    /* ===============================================RECIPE EDIT PAGE================================================ */
    .ERSubmit {
        font-size: 2rem;
    }

    .ingredient-btn {
        font-size: 1.3vw;
    }
}

@media only screen and (max-width: 1045px) and (min-width: 992px) {
    /* ===============================================HOME PAGE================================================ */
    .readmore-text {
        font-size: 2.5rem;
    }
    
    .arrow {
        margin-left: 5.1vmin;
    }
    /* ===============================================USER PAGE================================================ */
    .search-btn {
        height: 2.5vw;
    }
    
    .up-delete-button {
        margin-left: 1rem;
    }

    .up-toggle-button {
        margin-left: 1rem;
    }
    /* ===============================================RECIPE EDIT PAGE================================================ */
    .ERSubmit {
        font-size: 1.75rem;
        padding: 0.6rem 0.75rem 0.6rem 0.75rem;
    }

    .ERInput {
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 980px) {
    /* ===============================================HOME PAGE================================================ */
    .loginBox {
        padding: 2em 7em 2em 4em;
        margin-top: -4.3vw;
    }
    .loginSubTitle {
        font-size: 2.5vw;
    }
    .readmore-block {
        display: none;
    }
    .aboutHeader {
        margin-left: 30%;
        margin-top: 55vw;
        margin-bottom: 2%;
    }
    .card-deck {
        width: 40%;
        margin-left: 30%;
        padding: 7rem 4rem 5rem 4rem;
    }
    .card-text {
        font-size: 2.5vw;
    }
    /* ===============================================SIGN UP PAGE================================================ */
    .signup-header {
        font-size: 8vw;
    }
    .signup-text {
        font-size: 4vw;
    }
    .signup-title {
        font-size: 8vw;
    }
    .signup-label {
        font-size: 2rem;
    }
    /* ===============================================USER PAGE================================================ */
    .table-header {
        display: none;
    }
    .input-width {
        height: 3vw;
    }
    .search-btn {
        height: 3vw;
        padding: 0.1vw 2rem 0.3vw 1.75rem;
    }
    .imageClass {
        height: 1.5vw;
        margin-left: 0.01vw;
    }
    .tag-search-button {
        height: 0.6vw;
    }
    .orangeHdrTitle {
        font-size: 3rem;
    }
    .header-image-class {
        margin-left: 17vw;
    }
    /* ===============================================RECIPE EDIT PAGE================================================ */
    .ERSubmit {
        font-size: 1.6rem;
        padding: 0.6rem 0.75rem 0.6rem 0.75rem;
    }
}

@media only screen and (max-width: 736px) {
    /* ===============================================HOME PAGE================================================ */
    .aboutHeader {
        display: none;
    }
    .loginBox {
        width: 100%;
        opacity: 0.93;
        margin-top: -4rem;
    }
    .card-deck {
        margin-top: 60vw;
    }
    #footerleft {
        display: none;
    }
    /* ===============================================USER PAGE================================================ */
    .input-width {
        width: 92%;
    }
    .search-btn {
        padding: -2vw 2rem 0.4vw 1.75rem;
    }
    .imageClass {
        height: 1.2vw;
        margin-left: -0.5vw;
    }
    .tag-search-button {
        height: 0.6vw;
        margin-left: -0.5vw;
    }
    .header-image-class {
        margin-left: 13vw;
    }
    .manual-add-btn {
        font-family: $header-font;
        font-size: 1.5rem;
    }
    /* ===============================================RECIPE EDIT================================================ */
    .ERTitle {
        font-size: 2rem;
        margin-left: -1.5rem;
    }
    .ERSubmit {
        font-size: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }
    .drop-down {
        font-size: 1rem;
    }
    .ingredient-btn {
        font-size: 1rem;
        letter-spacing: 0.2rem;
        margin-top: 1%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .ingredient-btns {
        margin-left: -1.4rem;
    }
    /* ===============================================RECIPE EDIT PAGE================================================ */
    .ERInput {
        font-size: 1.5rem;
    }
    
    .ERSubmit {
        font-size: 1.5rem;
        padding: 0.6rem 0.75rem 0.6rem 0.75rem;
    }

    .ingredient-btn {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    /* ===============================================HOME PAGE================================================ */
    .homebody {
        background: none;
    }
    .login-logo {
        display: none;
    }
    .loginBox {
        padding: 2em 4em 2em 4em;
    }
    .loginSubTitle {
        font-size: 2.5rem;
    }
    .loginTitle {
        font-size: 4rem;
    }
    .loginText {
        font-size: 3vw;
    }
    .form-text {
        font-size: 4vw;
    }
    .login-button {
        font-size: 4vw;
    }
    .card-deck {
        width: 60%;
        margin-top: 90vw;
        margin-left: 20%;
        padding: 7rem 4rem 5rem 4rem;
    }
    .card-title {
        font-size: 8vw;
    }
    .card-text {
        font-size: 4.5vw;
    }
    .howItWorksContainer {
        margin-top: 0%;
        padding: 8rem 15% 8rem 15%;
    }
    .howItWorksTitle {
        font-size: 10vw;
        text-align: center;
        margin-bottom: 5rem;
    }
    .howItWorksText {
        font-size: 5vw;
    }
    .footertext {
        font-size: 3.5vw;
    }
    /* ===============================================SIGN UP PAGE================================================ */
    .signup-text {
        font-size: 6vw;
    }
    /* ===============================================USER PAGE================================================ */
    .input-width {
        width: 85%;
        height: 6vw;
    }
    .search-btn {
        padding: -2vw 2rem 0.4vw 1.75rem;
        height: 6vw;
    }
    .imageClass {
        height: 2.5vw;
        margin-left: -0.5vw;
    }
    .tag-search-button {
        height: 1vw;
        margin-left: -0.5vw;
    }
    .header-image-class {
        margin-left: 10vw;
        margin-right: 2rem;
    }
    .manual-add-btn {
        font-family: $header-font;
        font-size: 1.5rem;
    }
    /* ===============================================RECIPE PAGE================================================ */
    .recipe-image {
        display: none;
    }
    .recipe-link {
        display: none;
    }
    .recipe-header {
        padding: 1rem 2rem 2rem 9vw;
        margin-bottom: 10%;
    }
    .recipe-title {
        font-size: 3.5rem;
    }
    .recipe-servingsize {
        font-size: 2rem;
    }
    .recipe-subtitle {
        font-size: 3rem;
    }
    .ingredientChecklist {
        width: 100%;
        margin-left: 0%;
    }
    .ingredientItem {
        font-size: 2rem;
    }
    .instructionChecklist {
        font-size: 2rem;
        margin-left: 3%;
    }
    .recipe-notes-panel {
        display: none;
    }
    .recipepage-btns {
        margin-left: 4vw;
    }
    .recipepage-btn {
        letter-spacing: 0.2rem;
        margin-top: 1.5rem;
        margin-right: 1rem;
    }
    /* ===============================================RECIPE EDIT================================================ */
    .ERInput {
        height: 2rem;
        font-size: 1.5rem;
    }
    /* ===============================================RECIPE EDIT PAGE================================================ */
    .recipe-add-button {
        font-size: 1.5rem;
        margin-left: -1.4rem;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }
    /* ===============================================RECIPE EDIT PAGE================================================ */
    .ERInput {
        height: 4rem;
    }
}

@media only screen and (max-width: 420px) {
    .up-delete-button {
        margin-left: 1rem;
        font-size: 1.25rem;
        padding: 1rem 1rem 0.6rem 1rem;
    }
    
    .up-toggle-button {
        margin-left: 1rem;
        font-size: 1.25rem;
    }

    .glyphicon-pencil {
        font-size: 1.25rem;
    }

    .glyphicon-trash {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 375px) {
    .login-logo {
        height: 4rem;
    }
    .loginText {
        font-size: 5vw;
    }
    .card-deck {
        width: 80%;
        margin-top: 130vw;
        margin-left: 10%;
        padding: 7rem 2rem 5rem 2rem;
    }
    .card-text {
        font-size: 7vw;
    }
    .howItWorksText {
        font-size: 2rem;
    }
    .navbar-brand {
        padding-left: 3rem;
    }
    #navbarlogo {
        height: 5rem;
    }
    .footertext {
        font-size: 5vw;
    }
    /* ===============================================SIGN UP PAGE================================================ */
    .signup-text {
        display: none;
    }
    /* ===============================================USER PAGE================================================ */
    .greeting-text {
        font-size: 2rem;
    }
    .input-width {
        width: 83%;
        height: 8vw;
    }
    .search-btn {
        padding: -2vw 2rem 0.4vw 1.75rem;
        height: 8vw;
    }
    .imageClass {
        height: 2vw;
        margin-left: -0.5vw;
    }
    .orangeHdrTitle {
        font-size: 2rem;
    }
    .tag-search-button {
        height: 1vw;
        margin-left: -0.5vw;
    }
    /* ===============================================RECIPE EDIT PAGE================================================ */
    .ERInput {
        height: 3.5rem;
    }
}