.aboutHeader {
    font-family: $header-font;
    font-size: 6vw;
    letter-spacing: 1.5rem;
    color: $offwhite;
    margin-left: 12.5%;
    margin-top: 48vw;
    margin-bottom: 2%;
}

.card-deck {
    width: 75%;
    margin-left: 12.5%;
    background-color: white;
    padding: 7rem 4rem 5rem 4rem;
}

.big-card {
    background: none;
    border: none;
}

.card-title {
    font-family: $header-font;
    color: $darkgreen;
    font-size: 4vw;
    text-align: center;
    margin-top: 3rem;
}

.card-text {
    font-family: $body-font;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}