.readmore-description {
    position: absolute;
    width: 45rem;
    font-family: $header-font;
    letter-spacing: 0.5rem;
    font-size: 4rem;
    color: white;
    padding: 2rem 2rem 3rem 2rem;
    bottom: 17rem;
    left: -18rem;
    transform: rotate(270deg);
}

#readmore-organize {
    font-family: $body-font-italic;
    margin-top: -1rem;;
}

.readmore-block {
    position: absolute;
    bottom: 8rem;
    left: 12rem;
}

.readmore-subBlock {
    -webkit-animation: slideIn 2s forwards, bounce 6s 2s infinite;
    -moz-animation: slideIn 2s forwards, bounce 6s 2s infinite;
    animation: slideIn 2s forwards, bounce 6s 2s infinite;
}
.readmore-text {
    font-family: $body-font;
    font-size: 3rem;
    color: white;
    border: 2px solid white;
    transform: rotate(270deg);
    padding: 1.5rem 6rem 1rem 6rem;
}

.arrow {
    height: 4rem;
    margin-top: 12rem;
    margin-left: 12rem;
}