.loginBox {
    position: absolute;
    background-color: $red;
    width: 70%;
    padding: 2em 7em 2em 6em;
    opacity: 0.93;
    right: 0;
    margin-top: 1vw;
}

.login-logo {
    height: 5vw;
}

.loginSubTitle {
    font-family: $body-font-italic;
    font-size: 2vw;
    color: white;
    letter-spacing: 0.5rem;
}

.loginTitle {
    font-family: $header-font;
    font-size: 4vw;
    letter-spacing: 0.5rem;
    color: white;
    margin-top: 3rem;
}

.form-text {
    font-family: $body-font;
    color: white;
    font-size: 1.3vw;
    letter-spacing: 0.75rem;
    margin-top: 2%;
}

.form-control {
    border-radius: 0%;
}

.login-button {
    font-family: $header-font;
    font-size: 1.5vw;
    letter-spacing: 0.22rem;
    background-color: $orange;
    border: none;
    border-radius: 0%;
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    margin-top: 1%;
    margin-bottom: 3%;
}

.login-button:hover {
    background-color: $darkgreen;
}

.loginText {
    font-family: $body-font-italic;
    font-size: 1.5vw;
    letter-spacing: 0.4rem;
    color: $offwhite;
}

.signupLink {
    color: $offwhite;
}

.signupLink:hover {
    font-size: 2.5rem;
    color: $orange;
}