.aboutHeader {
    font-family: $header-font;
    font-size: 6rem;
    letter-spacing: 1.5rem;
    color: white;
    margin-left: 11%;
    margin-top: 45%;
}

.card-deck {
    width: 80%;
    margin-left: 10%;
}

.card {
    background-color: white;
}