@import "../resources/_fontsandcolors";

.navbar {
    background-color: #FFF;
    border-radius: 0;
    height: 10rem;
}

.navbar-right {
    font-family: $header-font;
    font-size: 2.5rem;
    padding-right: 6rem;
    padding-top: 4rem;
}

.navbar-brand {
    font-family: $logo-font;
    font-size: 5rem;
    color: $orange;
    padding-left: 10rem;
}

.navbar-brand:hover {
    color: $green;
}

.nav-item {
    color: $darkgreen;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    margin-left: 3rem;
}

.nav-item:hover {
    text-decoration: none;
    color: $orange;
    font-size: 3rem;
}

#homeNav {
    background-color: white;
}