.aboutHeader {
    font-family: $header-font;
    font-size: 10rem;
    letter-spacing: 1.5rem;
    color: white;
    margin-left: 16%;
    margin-top: 80rem;
    margin-bottom: 1%;
}

.card-deck {
    width: 70%;
    margin-left: 15%;
}

.big-card {
    background: none;
    border: none;
}

.card {
    background-color: white;
    padding: 6rem 4rem 3rem 4rem;
    border: none;
}

.card-title {
    font-family: $header-font;
    color: $darkgreen;
    font-size: 6rem;
    text-align: center;
    margin-top: 3rem;
}

.card-text {
    font-family: $body-font;
    font-size: 2.75rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}