.readmore-block {
    position: absolute;
    white-space: nowrap;
    top: 35vw;
    left: 8vw;
}

.readmore-description {
    position: absolute;
    width: 45rem;
    font-family: $header-font;
    letter-spacing: 0.5rem;
    font-size: 2vw;
    color: $offwhite;
    padding: 2rem 2rem 10% 2rem;
    bottom: 8vw;
    left: -18rem;
    transform: rotate(270deg);
}

#readmore-organize {
    font-family: $body-font-italic;
    margin-top: -1rem;;
}

.readmore-subBlock {
    margin-left: 6rem;
    -webkit-animation: slideIn 2s forwards, bounce 6s 2s infinite;
    -moz-animation: slideIn 2s forwards, bounce 6s 2s infinite;
    animation: slideIn 2s forwards, bounce 6s 2s infinite;
}

.readmore-text {
    font-family: $body-font;
    font-size: 3rem;
    color: white;
    transform: rotate(270deg);
}

.arrow {
    height: 4rem;
    margin-top: 7rem;
    margin-left: 3.2vmax;
}