.howItWorksContainer {
    padding: 13rem 10rem 13rem 10rem;
    background: $orange url('../../images/HIW_background.png');
    opacity: 0.9;
}

.howItWorksTitle {
    font-family: $header-font;
    color: $darkgreen;
    font-size: 6rem;
    letter-spacing: 0.3rem;
    text-align: center;
}

.howItWorksText {
    font-family: $body-font-bold;
    color: $darkgreen;
    font-size: 3rem;
}