.readmore-block {
    position: absolute;
    bottom: 5rem;
    left: 3rem;
    -webkit-animation: slideIn 2s forwards, bounce 4s 2s infinite;
    -moz-animation: slideIn 2s forwards, bounce 4s 2s infinite;
    animation: slideIn 2s forwards, bounce 4s 2s infinite;
}

.readmore-text {
    font-family: $body-font;
    font-size: 4rem;
    color: white;
    border: 2px solid white;
    transform: rotate(270deg);
    padding: 2rem 4rem 1.5rem 4rem;
}

.arrow {
    height: 10rem;
    margin-top: 13rem;
    margin-left: 11.5rem;
}