.loginBox {
    position: absolute;
    background-color: $red;
    width: 55%;
    padding: 7em 7em 7em 7em;
    opacity: 0.90;
    right: 0;
}

.loginSubTitle {
    font-family: $body-font-italic;
    color: white;
}