.navbar {
    background-color: #FFF;
    border-radius: 0;
    height: 10rem;
}

.navbar-right {
    font-family: $header-font;
    padding-right: 10rem;
    padding-top: 3rem;
}

.navbar-brand {
    padding-left: 10rem;
}

.nav-item {
    color: $darkgreen;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    margin-left: 3rem;
}

.nav-item:hover {
    text-decoration: none;
    color: $orange;
    font-size: 4rem;
}
