.recipe-header {
    font-family: $header-font;
    background-color: $lightgray;
    margin-top: 3%;
    padding: 3rem 2rem 7rem 9vw;
}

.recipe-title {
    font-family: $header-font;
    color: $red;
    font-size: 6rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.recipe-servingsize {
    font-family: $body-font-italic;
    font-size: 3rem;
}

.recipe-subtitle {
    font-family: $header-font;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    color: $orange;
    margin-left: 9vw;
    margin-top: 3%;
    margin-bottom: 2%;
}

.ingredientChecklist {
    width: 80%;
    margin-left: 7%;
    border: none;
    color: black;
    font-family: $body-font;
    font-size: 2.9rem;
    background-color: transparent;
    border: none;
    padding: 0;
}

.glyphicon {
    font-size: 2.5rem;
}

.instructionChecklist {
    font-family: $body-font;
    font-size: 2.9rem;
    background-color: transparent;
    border: none;
    width: 80%;
    margin-left: 8%;
    margin-top: -0.5%;
}

.tags {
    font-family: $body-font;
    font-size: 3.4rem;
    color: gray;
    margin: 2% 8% 1% 9%;
    width: 100%;
}

.recipe-link-box {
    margin: 1.2% 8% 1% 9%;
    width: 100%;
}

.recipe-link {
    font-family: $body-font;
    font-size: 2.5rem;
    color: black;
    text-decoration: none;
}

.recipe-notes-panel {
    border: 4px solid $orange;
    border-radius: 0;
    width: 40%;
    margin-left: 9vw;
    margin-top: 2%;
}

.panel-heading {
    background-color: $orange;
    border: 2px solid $orange;
    border-radius: 0;
}

.panel-header {
    color: white;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin-top: 0;
}

.recipe-notes {
    font-family: $body-font-italic;
    font-size: 2.5rem;
    padding-left: 1rem;
}

.note-input {
    font-family: $body-font;
    font-size: 2.75rem;
    width: 100%;
    border: none;
}

.panel-header {
    font-family: $header-font;
}

.recipepage-btns {
    margin-left: 8vw;
}

.recipepage-btn  {
    font-family: $header-font;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: $offwhite;
    background-color: $red;
    border-radius: 0;
    padding: 0.5rem 4rem 0.5rem 4rem;
    margin-top: 2rem;
    margin-right: 7rem;
    margin-bottom: 4rem;
}

.recipepage-btn:hover  {
    background-color: $darkgreen;
}