.recipe-header {
    font-family: $header-font;
    background-color: $lightgray;
    margin-top: 3%;
    padding: 3rem 2rem 7rem 9vw;
}

.recipe-title {
    font-family: $header-font;
    color: $red;
    font-size: 6rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.recipe-servingsize {
    font-family: $body-font-italic;
    font-size: 3rem;
}

.recipe-subtitle {
    font-family: $header-font;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    color: $orange;
    margin-left: 9vw;
}

.instructionChecklist {
    font-family: $body-font;
    font-size: 3.5rem;
    background-color: transparent;
    border: none;
    width: 80%;
    margin-left: 7%;
}

.recipe-link {
    font-family: $body-font;
    font-size: 2rem;
    color: black;
    text-decoration: none;
    margin-left: 9vw;
}