.greeting-text {
    font-family: $header-font;
    font-size: 4rem;
    color: #121210;
    text-align: center;
    letter-spacing: 0.2rem;
    margin-top: 4vw;
    margin-bottom: 3vw;
    text-transform: uppercase;
}

.userpage-container{
    width: 60%;
}

.search-title {
    font-family: $header-font;
    color: #121210;
    font-size: 2.75rem;
    letter-spacing: 0.2rem;
    margin-left: -1rem;
}

.input-width {
    font-family: $body-font;
    font-size: 1.2vw;
    width: 93%;
    height: 2.3vw;
    border: none;
    background-color: $lightgray;
    float: left;
    padding: 1rem 2rem 0.5rem 2rem;
}

.search-btn {
    position: relative;
    background-color: $green;
    height: 2.3vw;
    width: 7%;
    border: none;
    padding: 0.3vw 2rem 0.1vw 2rem;
}

.search-btn:hover {
    background-color: $darkgreen;
}

.imageClass {
    height: 1vw;
    margin-left: 0.25vw;
    padding:0;
}

.tag-search-button {
    height: 0.3vw;
}

.clear-search {
    color: $red;
}

.clear-search:hover {
    color: $orange;
    text-decoration: none;
}

.showing-search-results {
    font-family: $body-font-italic;
    font-size: 3rem;
    margin-top: 2%;
    margin-bottom: -3%;
}

.orange-box {
    background-color: $orange;
    padding: 0.25rem 0rem 0.25rem 0rem;
    margin-top: 4%;
}

.orangeHdrTitle {
    font-family: $header-font;
    font-size: 5rem;
    color: white;
    letter-spacing: 0.3rem;
}

.header-image-class {
    height: 6rem; 
    float: left;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    margin-left: 18vw;
    margin-right: 5rem;
}

.col-md-4 {
    background-color: transparent;
    border: none;
}

.no-results {
    font-family: $header-font;
    color: #121210;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
}

.table-header {
    font-family: $header-font;
    color: #121210;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    padding-top: 2rem;
}

.all-items-row {
    margin-top: -2%;
}

.recipe-name {
    text-decoration: underline;
}

.table-item {
    font-family: $body-font;
    font-size: 2.75rem;
    color: #121210;
    line-height: 2.75rem;
    overflow: hidden;
    padding-top: 2rem;
}

.recipe-buttons {
    padding-top: 1rem;
}

.up-edit-button {
    font-family: $body-font;
    color: black;
    font-size: 2rem;
    padding: 0.5rem 2rem 0 2rem;
    border: 0.25px solid $lightgray;
    background-color: transparent;
    border-radius: 0;
}

.up-edit-button:hover {
    border-radius: 0;
    background-color: $darkgreen;
    border: none;
}

.up-delete-button {
    font-family: $body-font;
    color: black;
    margin-left: 2rem;
    font-size: 2rem;
    padding: 0.5rem 2rem 0rem 2rem;
    border: 0.25px solid $lightgray;
    background-color: transparent;
    border-radius: 0;
}

.up-delete-button:hover {
    background-color: $red;
    border-radius: 0;
}

.up-toggle-button {
    font-family: $body-font;
    color: black;
    margin-left: 2rem;
    font-size: 2rem;
    padding: 0.8rem 2rem 0.5rem 2rem;
    background-color: transparent;
    border: 0.25px solid $lightgray;
    border-radius: 0;
}

.up-toggle-button:hover {
    background-color: $darkgreen;
    border: none;
}

.manual-add-btn {
    font-family: $header-font;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    color: white;
    background-color: $green;
    border-radius: 0;
    margin-top: 3%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.manual-add-btn:hover {
    background-color: $darkgreen;
}