.logged-logo-white {
    height: 60px;
}

.logged-navbar {
    background-color: $red;
    border-radius: 0;
    height: 10rem;
}

.logged-nav-item {
    color: white;
    font-size: 1.5vw;
    letter-spacing: 0.4rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
}

.logged-nav-item:hover {
    text-decoration: none;
    color: $darkgreen;
    font-size: 4rem;
}