@import './components/_homenav';
@import './components/_homefooter';


//HOME PAGE CSS

.homebody	{ 
    background:url(../../images/home_image.jpg) top right no-repeat; 
    background-attachment:fixed; 
    background-size: 100%;
}