.recipe-add-button {
    font-family: $header-font;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: white;
    background-color: $red;
    border-radius: 0;
    margin-top: 2%;
    margin-left: -1.1rem;
    padding-left: 3rem;
    padding-right: 3rem;

}