.editrecipe-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
}

.recipe-page-col {
    background-color: transparent;
    border: none;
}

.ERTitle {
    font-family: $header-font;
    color: black;
    font-size: 1.5vw;
    letter-spacing: 0.2rem;
}

.ERSubmit {
    font-family: $header-font;
    font-size: 0.85vw;
    letter-spacing: 0.2rem;
    color: white;
    background-color: $orange;
    border: none;
    border-radius: 0;
    padding: 1.3rem 2rem 1.1rem 2rem;
    margin-left: 2rem;
}

.ERSubmit:hover {
    background-color: $darkgreen;
}

.ERInput {
    width: 100%;
    height: 2.5vw;
    box-shadow: none;
    border: 0.5px solid $lightgray;
    padding-left: 2rem;
}

.drop-down {
    font-size: 0.75vw;
    text-align: center;
    width: 100%;
    padding: 0.75vw 2rem 0.75vw 2rem;
    border: 0.5px solid $lightgray;
    border-radius: 0;
    background-color: transparent;
}

.ingredient-btn {
    font-family: $header-font;
    font-size: 1vw;
    letter-spacing: 0.2rem;
    color: white;
    background-color: $red;
    border-radius: 0;
    margin-top: 3%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.ingredient-btn:hover {
    background-color: $darkgreen;
}

.recipeDelete {
    margin-left: 3%;
}

.recipeComplete {
    margin-left: 3%;
}